/* main style */
*{
    border: 1px solid orange;
}

body{
    background-color: black !important;
}
.main_recipe{
    font-family: Cambria;
    color: blanchedalmond;
    text-align: center;
    font-weight: 500;
    margin: 80px;
}
#steakimage{
    display: flex;
    width: 400px;
    height: auto;
    justify-items: center;
    
}
#ingredients{
    font-family: Cambria;
    color: blanchedalmond;
    text-align: center;
    font-weight: 500;
}
.dropdown{
    color: blanchedalmond;
}

#macaroni-cheese{
    color: blanchedalmond;
    justify-content: center;
}
.macaroniimg{
    justify-content: center;
    align-items: center;
}
.hamburger-steaks{
    color: blanchedalmond;
    justify-content: center;
}